@use "../../partials/globals" as *;
@use "../../partials/variables" as *;

.createPost {
  &__form {
    max-width: 75vw;
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    // align-items: center;
    gap: 1.5rem;

    input, textarea {
      padding: 0.75rem 1rem;
      border: 0.5px solid gray;
      border-radius: 0.5rem;
      font-family: "Roboto", sans-serif;
      font-size: 1rem;

      &:focus {
        outline: 1px solid gray;
      }
    }

    textarea {
      resize: vertical;
    }

    &-button {
      width: 25%;
      margin-top: 1rem;
      align-self: center;
      cursor: pointer;
      padding: 0.75rem 1.25rem;
      border: none;
      border-radius: 0.75rem;
    }
  }
}