@use "../../partials/globals" as *;
@use "../../partials/variables" as *;

h1 {
  font-weight: 500;
}

.allPosts {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 75vw;

  hr {
    // border: 0.75px solid rgb(151, 149, 149);
  }
}

.post {
  width: 80%;

  &__title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}

.postCard {
  display: flex;
  justify-content: space-between;
  // flex-direction: column;
}

.postButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  :hover {
  }
  &--delete {
    // background-color: rgb(209, 7, 7);
    background-color: transparent;
    // appearance: none;
    border: none;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;

    .material-symbols-outlined {
      color: rgb(223, 2, 2);
      font-size: 30px;
    }

    // &:hover {
    //   background-color: rgb(149, 5, 5);
    // }
  }

  &--edit {
    // background-color: rgb(4, 105, 188);
    // appearance: none;
    border: none;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    transition: all 300ms;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: rgb(4, 115, 206);

      .material-symbols-outlined {
        color: white;
      }
    }

    .material-symbols-outlined {
      // color: white;
      color: rgb(4, 105, 188);
      font-size: 1.5rem;
    }
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
